<div class="row">
  <div class="col-6">
    <app-donut [title]="graficos.grafico1.leyenda" [labels]="graficos.grafico1.labels" [data]="graficos.grafico1.data" type="doughnut"></app-donut>
  </div>
  <div class="col-6">
      <app-donut [title]="graficos.grafico2.leyenda" [labels]="graficos.grafico2.labels" [data]="graficos.grafico1.data" type="doughnut"></app-donut>
    </div>
</div>
<div class="row">
    <div class="col-6">
      <app-donut [title]="graficos.grafico3.leyenda" [labels]="graficos.grafico3.labels" [data]="graficos.grafico3.data" type="doughnut"></app-donut>
    </div>
    <div class="col-6">
        <app-donut [title]="graficos.grafico4.leyenda" [labels]="graficos.grafico4.labels" [data]="graficos.grafico4.data" type="doughnut"></app-donut>
      </div>
  </div>